<form action="/sessions" method="post">
  Username: <input name='username' type='text'>
  Password: <input name='password' type='password'>
  <input name='submit' type='submit' value='Sign in'>
</form>