<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form:  
  <ul id="error">
    <% flash[:errors].each do |error| %>
      <li><%= error %> </li>
    <% end %>
  </ul>
<% end %>

<form action="/users" method="post">
  Name: <input name="name" type="text" value="<%= @user.name %>">
  Username: <input name="username" type="text">
  Email: <input name="email" type="text" value="<%= @user.email %>">
  Password: <input type="password" name="password">
  Password confirmation: <input type="password" name="password_confirmation">
  <input type="submit" value="Go">
</form>