<h1>Welcome to Chitter</h1>
<div id="new_peep">
<form method="post" action="/posts" >
  <input name ="peep" type="text">
  <input type="submit" value="overshare" class= "button">
</form>
<ul>
  <% @posts.each do |post|%>
  <li><%=post.body%></li>
  <li>Posted At: <%=post.created_at.strftime("%a %b %e %T %Y")%></li>
  <%end%>
</div>
</ul>